@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body{
	font-family: 'Droid Sans', sans-serif;
}

.logo{
	height: 80px;
	#logo_img{
		width:170px;
		height:70px;
	}
}


.main-sidebar{
	margin-top: 40px;
}

.content-header h1{
	clear:both;
	margin-top: 20px;
}


#sidebar{
	height: 70px;
}


#right_bar{
	padding:20px 15px;
	vertical-align: middle;
	text-align: center;
	height: 70px;
}



#analytics {
	#college{
		border-right: dashed;
	}
	
	#rank_label_field{
		font-weight: 600;
		font-size: 1em;
	}
	#rank_field{
		text-align: center;
		font-weight: 700;
		font-size: 1.5em;
		color:green;	
	}
}

























#about_us #member{
	#mem_div{
		text-align: center;
		padding: 15px;
		#member_img{
			width: 100%;
			height: 100%;
			padding: 10px;
			img{
				box-shadow: 0px 0px 10px 2px;
				width: inherit;
				height:inherit;
			}
		}
		
		#member_info{
			padding: 5px;
			text-align: justify;
			text-justify: inter-word;
		}
		
		#member_name{
			padding-top: 10px;
			font-size: x-large;
			font-weight: 600;
			text-align: center;
		}
		
		#member_designation{
			font-size: large;
			font-weight: 600;
			text-align: center;
		}
		
		#member_social_net{
			p{
				list-style: none;
				text-align:center;
				span{
					display: inline;
					a{
						color: inherit;
						i{
							font-size:3em;
							padding: 3px;
							width: inherit;
							height: inherit;
						}
					}
					a:hover{
						opacity: 0.7;
					}
					#Facebook{
						color: #3b5998;
					}
					
					#Google_plus{
						color: #dd4b39;
					}
					
					#Linkedin{
						color: #0976b4;
					}
					
					#Twitter{
						color: #55acee;
					}
				}
			}
			
		}
		
		#about_member{
			font-size: large;
			font-weight: 400;
		}
	}
}

#footer_line{
	text-align: center;
	font-size: 14px;
	margin-bottom: 0px; 
}


body:after{
	content: "Created by Ganesh Gore";
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0.3;
	padding: 5px;
	font-size: large;

}